*{
    padding:0;
    margin: 0;
}
/*  Start  Global Rules */
:root{
    --alt-color:#FDC824;
    --txt-color:#f3ecec;
}
.container{
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
}

body{
    font-family: 'Poppins', sans-serif;
}
.all .navbar .navcat .active{
    color:#fff;
}
/*  End Global Rules */


/*  Start Navigation  */
.header{
    background-color: #fdc82475;
}
.nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: space-between;  
    color:#000; 
}
.menu:hover{
    color:#fff;
}
.menu .fa-bars{
    display:none;
}
@media(max-width:991px){
    .nav{
        display: block;
    }
    .menu .fa-bars{
    display:block;
    font-size: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
    }
}
.nav .logo{
    color:#000;
    font-size:22px;
    font-weight: bold;
    text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .navbar {
    display: flex;
    align-items: center;
    justify-content:center;
}
@media(max-width:991px){
    .nav .navbar{
        display: block;
        text-align:center;
    }
    .nav .navbar.active{
        display: none;
        text-align: center;
    }
}
.nav .navbar .links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width:991px){
    .nav .navbar .links{
        display: block;
    }
    .nav .navbar .links li{
        border-radius:4px;
    }
}
.nav .navbar .links li{
    cursor: pointer;
    padding:30px;
    font-size: 17px;
    font-weight:bold;
}
.nav .navbar .links li.active{
    background-color:var(--alt-color);
    color:var(--txt-color);
}

/*  Start Slider Section */
.slider{
    background-repeat:no-repeat;
    background-image:url('../images/bg1.jpg');
    background-size:cover;
    width:100%;
    min-height:100vh;
    /* height: 871px; */
}
.slider .contents{
    padding-top:30px;
    padding-bottom:30px;
    color:#f3ecec;
    font-weight:bold;
}
@media(max-width:991px){
    .slider .contents{
        text-align: center;
    }
}
.slider .contents h3{
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
    font-weight:bold;
}
.slider .contents h1{
    padding-top:10px;
    padding-bottom:10px;
    font-size:50px;
    font-weight:bold;
}
.slider .contents p{
    padding-top:10px;
    padding-bottom:10px;
    font-size:20px;
    font-weight:bold;
    line-height:1.7;
    color:#f3ecec;
}
.slider .contents .element {
    padding-top:15px;
    padding-bottom:15px; 
}
.slider .contents .element .alt{
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 20px;
    border-radius:4px; 
    background-color:#fdc82487;
    border:1px solid  #fff;
    color:#fff;
}
.slider .contents .element .alt:hover{
    background-color:var(--alt-color);
}
.slider .contents .element button{
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: 20px;
    color:#fff;
    border:1px solid  #fff;
    background-color:#47403861;
    border-radius:4px; 
}
.slider .contents .element button:hover{
    background-color:#474038cc; 
}

.slider .boxes{
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    grid-gap:10px;
}
@media(max-width:991px){
.slider .boxes {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
}
.slider .boxes .box{
    background-color:#000000b8;
    cursor: pointer;
    border-radius: 4px;;
}
.slider .boxes .box:hover{
    background-color:#00000082;
}
.slider .boxes .box h3{
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    color:#f3ecec;
}
.slider .boxes .box i {
   font-weight:bold;
    font-size: 30px;
    color: var(--alt-color);
    background-color:#623038b0;
    border-radius: 50%;
    padding-right: 10px;
    padding-left: 14px;
    padding-top: 15px;
    padding-bottom: 9px;
    margin-right: 10px;
}

.slider .boxes .box p{
    text-align:center;
    padding-top:6px;
    padding-bottom:6px;
    font-weight:bold;
    margin-right:10px;
    margin-left:5px;
    color:#f3ecec;
}

/* End Slider Section  */
/*  End Navigation   */


/*  Start Courses */
.courses{
    padding-top:40px;
    padding-bottom:40px;
}
.courses img{
    width:100%;
}
.courses .contents{
    display:flex;
    justify-content: space-between;
}
.courses .contents h2{
    font-size:20px;
    font-weight:bold;
}

/* Start Course Card  */
.card{
border:2px solid #efefef;
}

.card .card-title{

}
.card .card-title img{
  margin:10px 0;
}
.card .card-body{

}

.card .card-body p{
    margin: 0px 16px;
    text-align: left;
    padding: 11px 0;
}

.card .card-footer{

}

 .product .card .card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6px 14px;
}


.product .card .card-footer .btn button{
    padding-top:10px;
    padding-bottom:10px;
    padding-right:14px;
    padding-left:14px;
    background:red;
    border:none;
    color:#fff;
    font-weight: bold;
    border-radius: 4px;
}
.product .card .card-footer .price{
    font-size: 20px;
    font-weight: bold;
}
/* End Course Card  */
.courses .contents h2 span{
    color:var(--alt-color);
    text-transform: uppercase;
}
.courses .contents  .fa-arrow-left,
.courses .contents  .fa-arrow-right{
    text-align: center;
    width: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 7px;
    padding-left: 7px;
    background-color: #272727;
    color: var(--txt-color);
}
.courses .contents  .fa-arrow-right{
    background-color:var(--alt-color);
    color:var(--txt-color);
}
.courses p{
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bold;
}
.course .text{
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bold;
    margin:0 10px;
    text-align: left;
}
.course {
    text-align: center;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px, 1fr));
    grid-gap:10px;
}
.course .cour{
    padding-top:20px;
    padding-bottom:20px;
    box-shadow: 0px 0px 0px 1.4px #00000057;
}

.course .cour .text{
  display: flex;
  padding-top:20px;
  padding-bottom:10px;
 
}
@media(max-width:991px){
.course .cour .text{
    display: block;
    text-align: center;
    }
}
.course .cour .text i{
    padding-top: 20px;
    width: 20px;
    background-color:var(--alt-color);
    padding-bottom: 1px;
    height: 43px;
    padding-right: 8px;
    padding-left: 9px;
    border-radius: 2px;
    margin-right: 10px;
}
@media(max-width:991px){
    .course .cour .text i{
     
        background-color:#fff;
        font-size: 20px;
    }
}

.course .cour{
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bold;
    margin:0 10px;
    text-align: left;
}
.course .cour .text p{
    font-weight: bold;
    background-color: #000;
    color: var(--txt-color);
     font-size: 15px;
     margin-right: 10px;
     border-radius: 2px;
}

.course .cour .status{
    display:flex;
    justify-content: space-between;
    margin-right: 12px;
    margin-left: 12px;
}
.course .cour .status .like{
    display:flex;
    justify-content: space-around;
    font-size: 20px;
    color:#0b0bfdbd;
}
.course .cour .status .like .fa-thumbs-up{
    padding-left: 40px;
}
.course .cour .status .like .fa-thumbs-down{
    padding-right: 10px;
}

.course .cour .status .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}
.course .cour .status .price span{
    font-weight: bold;
}
.course .cour .status .price .join{
    width:30px;
    height:20px;
    background-color: var(--alt-color);
    color: var(--txt-color);
    font-weight: bold;
    padding-right:10px;
    padding-left:10px;
    border-radius:4px;
    border:none
}
/*  End Courses */
/* Start Forms Setion  */
.forms{
    padding-top:30px;
    padding-bottom: 30px;
    display:grid;
    grid-template-areas: 'form form time time';
}
@media(max-width:991px){
    .forms{
        grid-template-areas:
        'from form form form'
        'time time time time';
    }
}
.forms .form{
    position: relative;
    background-image:url('../images/s7.jpg');
    
}
@media(max-width:991px){
    .form{
        grid-area:from;
    }
}
.over{
    position: absolute;
    width:100%;
    height:100%;
    /* background-color:#0000005c; */
}
.forms .form .text{
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
}
.forms  .form .text h1{
    padding-top:10px;
    padding-bottom:10px;
    font-size:25px;
    font-weight:bold;
    text-transform: uppercase;
}
.forms .form .text h1 span{
    color:var(--alt-color);
}
.forms .form .text p{
    padding-top:5px;
    padding-bottom:5;
    color: #fff;
    line-height:1.6;
    font-weight:bold;
} 
.forms .form .data,
.forms .form .send,
.forms .form .env{
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}
.forms .form .data input,
.forms .form .send input{
    text-align: center;
    border:none;
    /* padding-top:15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px; */
    margin-top:10px;
    margin-bottom:10px;
    padding:15px;
    border-radius:4px;
}
.forms .form .env input{
    border:none;
    border-radius:4px;
    padding-top:15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: var(--alt-color);
}
.forms .form{
   grid-area:form;
   background-color:#EFEFEF;
}
.forms .time{
    position: relative;
    padding-top:20px;
    padding-bottom:20px;
    grid-area: time;
   background-image: url('../images/s1.jpg');
   overflow: hidden;
}
@media(max-width:991px){
    .form{
        grid-area:time;
    }
}
.forms .time h1{
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    color:#fff;
    font-size:26px;
}
.forms .time h2{
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    color:#fff;
}
.forms .time .date {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.forms .time .date span{
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 0px 3.4px #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:center;
}
/*  End Sections Forms */

 /* Start Relese */
.recent{
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;
}
.recent h1{
    font-weight:bold;
    font-size:25px;
    padding-top:10px;
    padding-bottom:10px;
}
.recent span{
    color:var(--alt-color);
}
.recent p{
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
    text-align: left;
}
.all {
    padding-top:5px;
    padding-bottom:5px;
}
.all .navbar .navcat{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:30px;
    margin-bottom:30px;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    background-color: var(--alt-color);
}
@media(max-width:767px){
    .all .navbar .navcat{
        display: block;
    }
}
.all .navbar .navcat li{
    cursor: pointer;
    font-weight:800;
    padding:10px;
}
.all .navbar .navcat li:hover{
    font-weight:bold;
    color:var(--txt-color);
}
@media(max-width:991px){
    .all .navbar .navcat li:hover{
        font-weight:bold;
        border-bottom: 1px solid #EFEFEF;
    } 
}

.product{
    text-align: center;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px, 1fr));
    gap:20px;
}
.product img{
    border-radius: 4px;
    padding-top:10px;
    margin-left:10px;
    width:95%
}
 /* End Release */


 /*  Start FeedBack */
 .feedback .feed{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    justify-content: center;
 }
 .feedback .feed .testimon {
    width: 80%;
    height: 360px;
}
@media(max-width:767px){
    .feedback .feed .testimon {
        width:100%;
    }
}
.feedback .feed .testimon img {
    width: 100%;
    height: 80%;
    margin:12px 0;
}
@media(max-width:767px){
    .feedback .feed .testimon img {
        width: 87%;
        height: 80%;
        margin: 12px 7px;
        padding-right: 8px;
        padding-left: 23px;
}
}
 .feedback .feed .design{
    padding-left:10px;
 }
 .feedback .feed .design h1{
    padding: 6px 0;
    font-size: 23px;
    line-height: 1.6;
 }
 @media(max-width:767px){
    .feedback .feed .design h1{
        color: #000;
    }
}
@media(max-width:767px){
    .feedback .feed .design {
        margin: 0 30px;
        color: #fff;
    }
}
 .feedback .feed .design .graduation{
    padding:10px 0px;
 }
 .feedback .feed .design .graduation .icon{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
 }
 .feedback .feed .design .graduation .icon .fa-graduation-cap{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    background: red;
    font-weight: bold;
    font-size: 17px;
    border-radius: 10px;
    margin: 24px 0;
 }

 .btn button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 14px;
    padding-left: 14px;
    background: red;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}


 /*  End FeedBack */
 /*  Star Subsccribe  */
 .subscribes{
    background-color:#261E1E;
    margin:10px 0;
 }
 .subscribes .subscribe {
     padding-top:15px;
     padding-bottom:15px;
     display:flex;
     justify-content: space-between;
    
 }
 @media(max-width:991px){
    .subscribes .subscribe{
        display: block;
    }
 }
 .subscribes .subscribe .text h1{
     padding-top:10px;
     padding-bottom:10px;
    font-size:25px;
    color:var(--txt-color);
 }
 @media(max-width:991px){
    .subscribes .subscribe .text{
        text-align:center;
    }
 }
 .subscribes .subscribe .text h1 span{
     color:var(--alt-color);
 }
 .subscribes .subscribe .text p{
    color:var(--txt-color); 
    font-weight:bold;
 }
 .subscribes .subscribe button{
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-right: 30px;
    padding-left: 30px;
    color: var(--txt-color);
    background-color: #000;
    border: 1px solid #fff;
    margin-bottom: 16px;
    margin-top: 16px;
}
 /* End  Subscibe */

 /*  Start subscribe */
 .subscribe{
    background-color:#261E1E;
    padding-top: 30px;
    padding-bottom: 30px;

 }

.subscribe .contents .text{
    padding:20px 0;
}
.subscribe .contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media(max-width:767px){
    .subscribe .contents{
        display: block;
    }
}
.subscribe .text h1{
    color:var(--txt-color);
}
@media(max-width:767px){
    .subscribe .text h1 {
        font-size: 28px;
        padding: 50px 0;
    }
}
.subscribe .text h1  span{
    color:var(--alt-color);
    font-weight: bold;
}
.subscribe .text p {
    color:var(--txt-color);
}
.subscribe .contents .signin button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background: red;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}
 /*  Start subscribe */
 
 /* Start Footer  */
.foot {
    padding:20px 10px;
    display:flex;
    justify-content: space-between;
}
@media(max-width:767px){
    .foot{
        display: block;
    }
}
.foot .logo{
    display:flex;
    align-items: center;
    gap:10px;
}

.foot .logo .fa-graduation-cap {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 22px;
    padding-left: 22px;
    background-color: red;
    color: #fff;
    font-size: 21px;
    border-radius: 1px;
}
.foot .logo h1{
    color:var(--alt-color);
}
.foot .contact{
    display: flex;
    align-items: center;
    gap: 10px;
}
.foot .contact .fa-phone{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 22px;
    padding-left: 22px;
    border: 2px solid #ededed;
    font-size: 21px;
    border-radius: 1px;
    cursor: pointer;
}
.foot .contact .fa-phone:hover{
    border-radius: 10px;
}
.foot .contact .number{
    cursor: pointer;
}
.foot .links .social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 0;
}
.foot .links .social  .fa-facebook{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 13px;
    padding-left: 13px;
    border: 2px solid #ededed;
    font-size: 25px;
    color:blueviolet;
}
.foot .links .social  .fa-facebook:hover,
.foot .links .social  .fa-twitter:hover,
.foot .links .social  .fa-youtube:hover,
.foot .links .social  .fa-whatsapp:hover{
    border-radius: 10px;
    transition: all .3s;
}
.foot .links .social  .fa-twitter{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 13px;
    padding-left: 13px;
    border: 2px solid #ededed;
    font-size: 25px;
    color:blueviolet;
}

.foot .links .social  .fa-youtube{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 13px;
    padding-left: 13px;
    border: 2px solid #ededed;
    font-size: 25px;
    color:red;
}
.foot .links .social  .fa-whatsapp{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 13px;
    padding-left: 13px;
    border: 2px solid #ededed;
    font-size: 25px;
    color:red;
}

.foot .about .content{
    margin: 30px 0;
}

.foot .about .content p{
    line-height: 1.5;
}
.foot .lastnews .sign{
    padding:30px 0;
}
.foot .lastnews input{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 13px;
    padding-left: 13px;
    width: 346px;
}
.foot .lastnews .btn{
    margin:20px 0;
}
.foot .lastnews .btn button {
    padding-top: 14px;
    padding-bottom: 15px;
    padding-right: 14px;
    padding-left: 14px;
    background: red;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    width: 200px;
}
footer .copy{
    padding:20px;
    text-align: center;
    background-color: #261E1E;
    color:var(--txt-color);
}
footer .copy span{
    color:var(--alt-color);
}

@media(min-width:576px){ /* For Small Screen */
    .container{
        max-width: 540px;
    }
}

@media(min-width:768px){  /* For  Medium */
    .container{
        max-width: 720px;
    }
}

@media(min-width:992px){  /* For Large Medium */
    .container{
        max-width: 960px;
    }
}

@media(min-width:1200px){  /* For Large  */
    .container{
        max-width: 1140;
    }
}